html {
  font-size: 90%;
  height: 100%;
}

body {
  min-height: 100%;
  height: 100%;
}

img#logo{
  height: 50px;
  width: 50px
}

.fill {
    min-height: 100%;
    height: 100%;
    background-color: #bababa;
}

.box2 {
  height:100%;
}

/*body
{
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  color: #353535;
  background: linear-gradient(to bottom, #ccc, #fff 30%);
  background-repeat: no-repeat;
}*/

h1, h3 {
  font-family: 'Arial', sans-serif;
  /*text-align: center;*/
  /*text-transform: uppercase;*/
}

h1 {
    /*margin: 20rem 0 1rem;*/
  font-size: 2.5em;
}

h3 {
  font-weight: normal;
  font-size: 1.3em;
}

#main_header {
  margin-top:0.20em;
  padding: 0;
  margin: 0;
}

#logo {
  margin-top: 0.75em;
  margin-right: 0.75em;
  float: left;
}

#navbar {
  margin: 0;
  padding: 0;
}
